<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>重設密碼</title>
</head>
<body>
	<h1>{{ username }}您好</h1>
	<p>您已發起了重置密碼的請求</p>
	<p>密碼重置連結為：</p>
	<p>{{ url }}</p>
	<p>請在一小時內完成重置密碼動作，否則失效</p>
	<hr>
	<p>本信件為自動發送，請勿回覆</p>
</body>
</html>